@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*:before,
*:after{
    box-sizing: border-box;

}
*{
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    background: #ececec;
}
h1{
    color: #888;    
    text-align: center;
}
.box{
    background: #fff;
    width: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid #c6c6c6;
    box-shadow: 2px 2px 8px rgba(0, 0, 0,.5);
}
.box label{
    margin-right: 15px;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.coluna .button{
    width: 37px;
    height: 37px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
}

.coluna .button:active{
    background: #ccc;
}
.coluna input{
    width: 60px;
    padding: 5px 10px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    font-size: 22px;
    margin: 0 10px;
}

.container{
  display: flex;
  flex-flow: row wrap;
  height: 100vw;
}

.coluna{
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 auto;
  margin-right: 5px;
}

.coluna:last-child{margin-right: 0px;}

.red   {background-color: #e53935;}
.pink  {background-color: #d81b60;}
.purple{background-color: #8e24aa;}
.blue  {background-color: #1565c0;}
.green {background-color: #388e3c;}
.yellow {background-color: #ffff00;}
.brown {background-color: #964b00;}
.orange {background-color: #ffa500;}



.tile{
  box-sizing: border-box;
  color: #000000;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
}
